/*NULL*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
}

body._lock {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* ---------------------------------------------------------------------------- */
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: sans-serif;
  background: linear-gradient(217deg, rgba(115, 255, 0, 0.8), rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(127deg, rgba(0, 255, 191, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(183, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
}

/* ---------------------------------------------------------------------------- */
._container {
  max-width: 1046px;
  padding: 0px 15px;
  margin: 0px auto;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* ---VARIABLES-------------------------------------------------------------------- */
/* ---HEADER----------------------------------------------------------------------- */
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  display: flex;
  justify-content: center;
}

.header__logo {
  margin: 20px 0 0 0;
  padding: 10px 25px;
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  color: rgb(255, 196, 0);
  background: rgba(255, 255, 255, 0.5);
  border-radius: 40px;
}

/* ---PAGE------------------------------------------------------------------------- */
.page {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 90px 0 20px 0;
}

.lesson__title {
  margin: 20px 0 0 0;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  color: rgb(0, 89, 255);
}

.lesson__subtitle {
  margin: 10px 0 0 0;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  color: rgb(255, 0, 0);
}

.lesson__tasks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.task {
  margin: 20px 10px 0;
  padding: 15px 20px;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border: 3px solid rgb(136, 255, 0);
  border-radius: 30px;
  transition: all 0.3s ease 0s;
}

.task:hover {
  background: rgba(0, 0, 0, 0.5);
  filter: drop-shadow(0px 4px 10px rgb(136, 255, 0));
}

.task__title {
  text-align: center;
  font-size: 24px;
  color: rgb(136, 255, 0);
}

.task__text {
  margin: 10px 0 0 0;
  font-size: 16px;
  line-height: 130%;
  text-align: start;
}


/*  */
.result {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 51;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease 0s;
  transform: translate(0, -100%);
}

.result_active {
  transform: translate(0, 0);
}

.result__main {
  width: 90%;
  padding: 30px 0;
  background:
    linear-gradient(127deg, rgba(0, 255, 191, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 110, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  border: 3px solid rgb(136, 255, 0);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease 0s;
}

.result__solution {
  flex: 1 1 auto;
  width: 80%;
  padding: 15px 20px;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border: 3px solid rgb(136, 255, 0);
  border-radius: 30px;
  transition: all 0.3s ease 0s;
}

.result__title {
  margin: 20px 0 20px 0;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  color: rgb(136, 255, 0);
}

.result__text {
  font-size: 18px;
}

.result__button {
  cursor: pointer;
  margin: 30px 0 0 0;
  width: 80%;
  padding: 15px 20px;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border: 3px solid rgb(136, 255, 0);
  border-radius: 30px;
  text-align: center;
  letter-spacing: 20px;
  transition: all 0.3s ease 0s;
}



/*  */

@media(max-width:750px) {
  .header__logo {
    font-size: 30px;
    margin: 15px 15px;
  }

  .task {
    flex: 0 1 100%;
  }
}

@media(min-width:750px) {


  /* ------------------ */
  .lesson__1 .task {
    flex: 0 1 30%;
  }

  .lesson__1 .task:last-child {
    flex: 0 1 auto;
  }

  /* ------------------ */
  .lesson__2 .task {
    flex: 0 1 30%;
  }

  .lesson__2 .task:first-child,
  .lesson__2 .task:nth-child(3) {
    flex: 0 1 auto;
  }

  /* ------------------ */
  .lesson__3 .task {
    flex: 0 1 47%;
  }

  /* ------------------ */
  .lesson__4 .task {
    flex: 0 1 30%;
  }

  .lesson__4 .task:nth-child(4),
  .lesson__4 .task:nth-child(5) {
    flex: 0 1 44%;
  }


  .result__main {
    width: 55%;
    padding: 60px 0;
    border-radius: 1500px;
  }

  .result__solution {
    width: 65%;
    border-radius: 30px;
    transition: all 0.3s ease 0s;
  }

  .result__button {
    width: 65%;
  }

  .result__button:hover {
    border: 3px solid rgb(255, 0, 255);
    letter-spacing: 25px;
  }
}

/*  */
.footer__container {
  padding: 0 0 10px 0;
  text-align: center;
  font-size: 30px;
  color: rgb(0, 255, 179);
}